@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    height: 100vh;
    width: 100%;
}
body{
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    background-color: #090a09;
    width: 100%;
    height: 100vh;
}
*{
    scroll-behavior: smooth;
}
a:hover{
    color: #2876ad;
}
a.red{
    color: #2876ad;
    
}
button{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #2876ad;
    transition: 0.3s;
    border-radius: 5px;
  
  }
  
@layer{
    .main{
        @apply  flex w-[200px] left-[10%] h-[2px] bg-main relative 
    }
    .small{
        @apply w-[50px]
    }
    .main-p{
        @apply text-[30px] relative  left-[10%] uppercase text-white
    }
    .main-head{
        @apply inline-block text-[50px] font-bold before:absolute before:h-[2px] before:top-[65px] before:w-[120px] before:inline-block before:bg-main
    }
}

/* start loader  */
.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 2s;
    position: absolute;
    left: 0;
    z-index: 800;
    background-color: black;
  }
  
.loader.active {
    left: -1350px;
}
  .dot-two {
    background-color: #2876ad;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 4px;
    color: white;
  }
  
  .dot-one,
  .dot-three {
    background-color: #2876ad;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    animation: flap-wings 1s infinite ease-in-out;
  }
  
  .dot-two {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #2876ad;
    animation: flap-wings 1s infinite ease-in-out;
    animation-delay: 0.1s;
  }
  
  .dot-two::before,
  .dot-two::after {
    content: "";
    position: absolute;
    background-color: #2876ad;
  }
  
  .dot-two::before {
    height: 20px;
    width: 10px;
    bottom: 20px;
    left: 1px;
    border-radius: 50% 50% 0 0;
    transform: rotate(-20deg);
  }
  
  .dot-two::after {
    height: 20px;
    width: 10px;
    bottom: 20px;
    left: 19px;
    transform: rotate(20deg);
    border-radius: 50% 50% 0 0;
  }
  
  .dot-one::before,
  .dot-one::after,
  .dot-three::before,
  .dot-three::after {
    content: "";
    position: absolute;
    background-color: #2876ad;
  }
  
  .dot-one::before,
  .dot-three::before {
    height: 30px;
    width: 20px;
    top: 10px;
    left: 0;
    background-color: #e8e8e8;
   /*chnage this if u need dark mode to #212121 if need light mode #e8e8e8*/
    border-radius: 50% 50% 0 0;
  }
  
  @keyframes flap-wings {
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  }

/* end loader  */